.car-container {
  height: 70vh;
  overflow-y: auto;
}

.cars{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 1%;
  padding-left: auto;
  text-align: center;
  margin-top: auto;
  list-style-type: none;
}

.car-list {
  margin-top: auto;
  margin-bottom: auto;
  width: 33%;
}

.maintenance-form-radio {
  width: 20%
}

.form-table {
  width: 100%;
  margin-left: 2%;
}

.details-table {
  width: 20%;
  font-size: 15px;
  margin-left: 2%;
}

input[type="text"], input[type="number"]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="date"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}

.details {
  height: 20vh;
}

.maintenance {
  height: 30vh;
  overflow-y: auto;
}

.maintenance-form {
  display: flex;
  flex-direction: row;
}

button {
  margin-top: 1%;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button:hover {
  background-color: grey;
  cursor: grabbing;
}

.viewCar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.addCar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-maintenance {
  height: 20vh;
}

.margin-2 {
  margin-left: 2%;
}
